<!<!DOCTYPE html>

<html ng-app="scotchApp">
<head>
  <!-- bootstrap, fontawesome load via CDN -->
  <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


  <!-- load angular and angular route -->
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src = "//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src = "script.js"></script>
</head>
<body ng-controller = "mainController">

          <header>
              <nav class="navbar navbar-default">
              <div class="container">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="/">Angular Routing Example</a>
                  </div>

                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                      <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                      <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                  </ul>
              </div>
              </nav>
          </header>

          <!-- MAIN CONTENT AND INJECTED VIEWS -->
          <div id="main">

              {{ message }}
              <div ng-views></div>
          </div>


</body>
</html>
